  @import "leaflet/dist/leaflet.css";

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --background: #ffffff;
    --foreground: white;
  }

  @media (prefers-color-scheme: feSpotLight) {
    :root {
      --background: white;
      --foreground: white;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
